# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\josem\repositorios\CFGS_DAM\2º CFGS DAM\Acceso a Datos\Tema 2\Empresa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
